.alx_reviews_block_edit
{
	font-size:14px;
	border-top:1px solid #fff;
}
.alx_reviews_block_edit input:focus {outline: none;} 
.alx_reviews_block_border
{
	padding: 0px;
	height:1px;
	overflow:hidden;
	background:url(images/bg_line_shadow.png) right top no-repeat #e1e2e3;
}
.alx_add_reviews_a
{
	padding: 0px;
	margin: 20px 0px 24px 0px;
	width:247px;
	height:40px;
}
.alx_add_reviews_a a
{
	background:url(images/bg_submit_add.png) 0px 0px no-repeat;
	width:247px;
	display:block;
	text-decoration:none;
	font-family: arial;
	padding: 8px 0px 12px 0px;
	font-size:18px;
	color:#515a65 !important;
	text-shadow: 1px 1px 0px #fff;
	text-align:center;
}
.alx_add_reviews_a a:hover
{
	background:url(images/bg_submit_add.png) 0px -43px no-repeat;
}
.alx_reviews_form
{
	padding:30px 40px;
	font-family: arial;
	color:#515a65;
	font-size:13px;	
}
.alx_reviews_form_edit .alx_reviews_form_item_pole
{
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.alx_reviews_form_edit  .alx_reviews_form_poles_small .alx_reviews_form_pole_name
{
	font-weight:bold;
	color:#515a65;
	float:left;	
	width:106px;
	padding-top:9px;
	margin-right:10px;	
}

.alx_reviews_form_edit .alx_reviews_form_pole_name
{
	padding: 0px;
	font-weight:bold;
	color:#515a65;
	margin: 0px 0px 7px 0px;
}
.alx_reviews_form_edit .requred_txt
{
	color:#b1b8c1;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole .alx_reviews_form_inputtext_bg
{
	border:1px solid #b6b7b8;
	padding: 8px 4px 8px 4px;
	margin: 0px;
	background:#fff;
    -webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.alx_reviews_form_edit  .alx_reviews_form_poles_small .alx_reviews_form_inputtext_bg
{
	float:left;
	width:238px;
}
.alx_reviews_form_inputtext_bg_arr
{
	position:absolute;
	width:13px;
	height:9px;
	margin-top:-14px;
	margin-left:23px;
	background:url(images/bg_arr_pole.png) 0px 0px no-repeat;
	overflow:hidden;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole .alx_reviews_form_inputtext_bg input
{
	border: 0px;
	width:100%;
	font-size:14px;
	color:#515a65;
	font-family: arial, sans-serif;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_textarea
{
	padding: 0px;
    position:relative;
	z-index:1;
	zoom:1;
	margin: 0px 0px 20px 0px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_textarea .alx_reviews_form_textarea_bg
{
       border:1px solid #b6b7b8;
	padding: 5px 4px 5px 4px;
	margin: 0px;
	background:#fff;
    -webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_textarea .alx_reviews_form_field
{
    border:1px solid #b6b7b8;
	padding: 5px 4px 5px 4px;
	margin: 0px;
	background:#fff;
    -webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_textarea .alx_reviews_form_field_vote
{
    border:1px solid #b6b7b8;
	padding: 5px 4px 5px 4px;
	margin: 0px;
	background:#fff;
    -webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_textarea .alx_reviews_form_textarea_bg textarea
{
	border: 0px;
	width:100%;
	height:190px;
	font-size:14px;
	color:#515a65;
	font-family: arial, sans-serif;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_textarea_dop_txt
{
	float:right;
	color:#a3a3a3;
	margin-top:10px;
	font-size:10px;
	text-align:right;
	font-family: verdana;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_textarea_dop_txt .alx_reviews_red_txt
{
	color:#8e0016;
}
.alx_reviews_form_add_file
{	
	width:320px;
	margin-top:19px;
	margin-bottom:0px;
}
.alx_reviews_form_add_file .alx_reviews_form_add_file_pole
{
	position:absolute;
	z-index:1;
	zoom:1;
	width:200px;
	height:30px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
-moz-opacity: 0.0;
-khtml-opacity: 0.0;
opacity: 0.0;
}
.alx_reviews_form_add_file .alx_reviews_form_add_file_pole input
{
	width:300px;
	
}
.alx_reviews_form_add_file  .alx_reviews_form_add_file_txt
{
	padding: 11px 0px 15px 53px;
	background:url(images/bg_input_file.png) 0px 0px no-repeat;
	color:#515a65;
	font-size:14px;
	width:131px;
}
.alx_reviews_form_edit .alx_reviews_form_vote
{
	padding: 0px;
	margin: 0px 0px 26px 0px;
}
.alx_reviews_form_vote_group_name
{
	padding: 0px;
	margin: 0px 0px 5px 0px;
	font-size:13px;
	font-weight:bold;
	
}
.alx_reviews_form_edit .alx_reviews_form_vote .alx_reviews_form_pole_name
{
	font-weight:normal;
	font-size:12px;
	width:139px;
	margin-left:10px;
	float:left;
}
.alx_reviews_form_edit .alx_reviews_form_vote .alx_reviews_form_vote_items
{
	padding: 0px;
	margin: 0px;
	float:left;
}
.alx_reviews_form_edit .alx_reviews_form_vote .alx_reviews_form_vote_uf
{
	padding: 0px;
	margin: 0px;
	float:none;
}
.alx_reviews_form_edit .alx_reviews_form_vote .alx_reviews_form_vote_uf .alx_reviews_form_vote_items
{
	float:left;
	padding: 0px;
	margin: 0px;
}
.alx_reviews_form_edit .alx_reviews_form_vote .alx_reviews_form_vote_items .alx_reviews_form_vote_item
{
	float:left;
	width:16px;
	height:16px;
	margin-left:2px;
	background:url(images/vote_bg.png) -18px 0px no-repeat;
}
.alx_reviews_form_edit .alx_reviews_form_vote .alx_reviews_form_vote_items .alx_reviews_form_vote_item_sel
{
	background:url(images/vote_bg.png) 0px -1px no-repeat;
}
.alx_reviews_form_submit_block
{
    padding: 20px 0px 64px 0px;
	margin: 0px;
	height:42px;
}
.alx_reviews_form_submit_block .alx_reviews_form_item_submit
{
	width:245px;
	background:url(images/bg_submit_add.png) 0px 0px no-repeat;
	float:left;
	margin-right:18px;
	height:42px;
}
.alx_reviews_form_submit_block .alx_reviews_form_item_submit:hover
{
	background:url(images/bg_submit_add.png) 0px -43px no-repeat;
}
.alx_reviews_form_submit_block .alx_reviews_form_item_submit input
{
	padding: 6px 0px 9px 0px;
	margin: 0px;
	font-size:18px;
	color:#515a65 !important;
	text-shadow: 1px 1px 0px #fff;
	text-align:center;
	height:42px;
	width:245px;
	cursor:pointer;
	background:url(images/spacer.gif) 0px 0px no-repeat;
	border: 0px;
	font-family:arial, sans-serif;
}
.alx_reviews_form_submit_block .alx_reviews_form_item_submit_reset
{
	float:left;
	-webkit-box-shadow: rgba(0,0,0, 0.15) 0px 1px 2px;
	-moz-box-shadow: rgba(0,0,0, 0.15) 0px 1px 2px;
	box-shadow: rgba(0,0,0, 0.15) 0px 1px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #aaaaaa;
	height:38px;
	background:url(images/bg_submit_reset.gif) bottom left repeat-x #fff;
}
.alx_reviews_form_submit_block .alx_reviews_form_item_submit_reset:hover
{
	background:url(images/bg_submit_reset_hov.gif) bottom left repeat-x #fff;
}
.alx_reviews_form_submit_block .alx_reviews_form_item_submit_reset input
{
	padding: 12px 38px 8px;
	margin: 0px;
	color:#515a65;
	font-size:14px;
	font-family: arial, sans-serif;
	border: 0px;
	cursor:pointer;
	background:url(images/spacer.gif) 0px 0px no-repeat;	
}
.alx_clear_block
{
	clear:both;
	height:1px;
	overflow:hidden;

}
.alx_reviews_form_poles_group
{
	padding: 28px 0px;
	position:relative;
	z-index:1;
	zoom:1;
	margin-left:-80px;
	left:40px;
	padding-left:40px;
	margin-bottom:28px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.alx_reviews_form_poles_group .alx_reviews_form_poles_group_border_top
{
	padding: 0px;
	height:1px;
	left:0px;
	overflow:hidden;
	background:url(images/bg_line_shadow.png) right top no-repeat #e1e2e3;
	position:absolute;
	top:-2px;
	width:100%;
}
.alx_reviews_form_poles_group .alx_reviews_form_poles_group_border_bottom
{
	padding: 0px;
	position:absolute;
	bottom:0px;
	width:100%;
	left:0px;
	height:1px;
	overflow:hidden;
	background:url(images/bg_line_shadow.png) right top no-repeat #e1e2e3;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 20px 0px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_pole_name
{
	font-weight:bold;
	color:#515a65;
	float:left;	
	width:106px;
	padding-top:0px;
	margin-right:10px;	
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_textarea_bg
{
    border:1px solid #b6b7b8;
	padding: 5px 4px 5px 4px;
	margin: 0px;
	background:#fff;
    -webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_textarea_bg
{
	float:left;
	width:239px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_inputtext_bg
{
	float:left;
	width:239px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field
{
	padding: 0px;
	margin: 0px;
	float:left;
	width:248px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_textarea_bg textarea
{
	border: 0px;
	width:100%;
	height:190px;
	font-size:14px;
	color:#515a65;
	font-family: arial, sans-serif;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field select
{
	border: 0px;
	width:100% !important;
	font-size:14px;
	color:#515a65;
	font-family: arial, sans-serif;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel { 
	border:1px solid #b6b7b8;
	margin: 0px;
	background:#fff;
    -webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	height:34px;
	font-size:14px;
	color:#515a65;
	font-family: arial, sans-serif;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cuselFrameRight { 
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0px;
	height: 100%;
	background: url(images/select_arr.gif) 6px center no-repeat;
	width: 30px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cuselText {
	padding: 10px 4px 1px 6px;
	height:18px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	position: absolute;
	top: 0;
	font-size:14px;
	color:#515a65;
	font-family: arial, sans-serif;
	left: 0;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel span {
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel span:hover,
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .cuselOptHover {
	background: #eee;
	color: #5A5A5A;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .cuselActive { 
	background: #ccc;
	cursor: default;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel:hover .cuselFrameRight,
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel:focus .cuselFrameRight,
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cuselFocus .cuselFrameRight {

}

.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cuselOpen {
	z-index: 999;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .classDisCusel,
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .classDisCusel .cuselFrameRight {

	color: #ccc;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .classDisCusel .cuselText {
	cursor: default;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .cusel-scroll-wrap { 
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff; 
	min-width: 100%;
	width: auto;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	margin-left:-1px;
	padding-left:1px;
	padding-right:1px;
	background:#fff;
	border: 1px solid #CCCCCC; 
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .jScrollPaneTrack { 
	height: 100%;
	width: 7px !important;
	background: #eee;
	position: absolute;
	top: 0;
	right: 4px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .jScrollPaneDrag { 
	position: absolute;
	background: #CCCCCC;
	cursor: pointer;
	width: 7px !important;
	height: 27px !important;
	right: 0px;

}

.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .jScrollArrowUp { 
	position: absolute;
	top: 0;
	right: 1px;
	width: 7px;
	height: 12px;
	cursor: pointer;
	background:url(images/arr_track_up.gif) 0px 2px no-repeat;
	overflow: hidden;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_form_field .cusel .jScrollArrowDown { /* стрелка вниз */
	width: 7px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 1px;
	cursor: pointer;
	background: url(images/arr_track_down.gif) 0px 2px no-repeat;
	overflow: hidden;
}


.alx_reviews_pole_select_uf
{
	height:76px;
	overflow:hidden;
	border:1px solid #b6b7b8;
	padding: 5px 4px 5px 4px;
	margin: 0px;
	background:#fff;
	width:239px;
    -webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	box-shadow: inset rgba(0,0,0, 0.15) 0px 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.alx_reviews_pole_select_uf .alx_reviews_pole_select_uf_cont
{
	width:239px;
	overflow:hidden;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .alx_reviews_pole_select_uf_cont select
{
	width:260px !important;
	background:transparent;
	font-size:14px;
	font-family: arial, sans-serif;
	line-height:16px;
	padding: 0px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspContainer
{
	overflow: hidden;
	position: relative;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspPane
{
	position: absolute;
}

.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspVerticalBar
{
	position: absolute;
	top: -1px;
	right: -1px;
	width: 14px;
	height: 100%;
	background:#eceff1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #cfd1d2;
}

.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspVerticalBar *,
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspCap
{
	display: none;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspTrack
{
	background: #eceff1;
	position: relative;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspDrag
{
	background: url(images/track_bg.gif) center center no-repeat #ffffff;
	border:1px solid #dbdbdb;
	position: relative;
	top: 0;
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	left: -1px;
	right:-1px;
	width:14px;
	cursor: pointer;
	-webkit-box-shadow: rgba(0,0,0, 0.15) 0px 1px 2px;
	-moz-box-shadow: rgba(0,0,0, 0.15) 0px 1px 2px;
	box-shadow: rgba(0,0,0, 0.15) 0px 1px 2px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspArrow
{
	display: block;
	cursor: pointer;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspVerticalBar .jspArrow
{
	height: 16px;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspVerticalBar .jspArrowUp
{
	background:url(images/arr_scroll_up.gif) center 6px no-repeat;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspVerticalBar .jspArrowDown
{
	background:url(images/arr_scroll_down.gif) center 6px no-repeat;
}
.alx_reviews_form_edit .alx_reviews_form_item_pole_uf .alx_reviews_pole_select_uf .jspVerticalBar .jspArrow:focus
{
	outline: none;
}
.alx_reviews_form_edit  .alx_reviews_subscribe
{
	font-size:14px;
	margin-bottom:16px;
}
.alx_reviews_form_edit  .alx_reviews_form_requred_block
{
	color:#7a808c;
	font-size:12px;
}
.alx_reviews_checkbox_block
{
	padding: 2px 0px 0px 0px;
	margin: 0px;
	position:relative;
	z-index:1;
}
.alx_reviews_checkbox_block .alx_reviews_checkbox_block_cont
{
	padding: 0px 0px 0px 29px;
	display:inline;
	margin: 0px 0px 0px 0px;
	cursor:pointer;
}
.alx_reviews_checkbox_block .alx_reviews_checkbox_block_cont .alx_reviews_checkbox
{
	position:absolute;
	z-index:1;
	top: 0px;
	left: 0px;
	width:19px;
	height:19px;
	background:url(images/checkbox_bg.png) 0px -19px no-repeat;
}
.alx_reviews_checkbox_block_check .alx_reviews_checkbox_block_cont .alx_reviews_checkbox
{
	background:url(images/checkbox_bg.png) 0px 0px no-repeat;
}
.alx_reviews_checkbox_block .alx_reviews_checkbox_block_cont .alx_reviews_checkbox input
{
	display:none;
}